<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the reviews index page</h1>
    <a href="/">Home Page</a>
    <a href="/reviews/new">Add Review Here</a>  
    
    <table id="list">
        <thead>
          <tr>
            <th>Title</th>
            <th>Developer</th>
            <th>Release<br>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <% reviews.forEach(function(r, idx) { %>
            <tr>
              <td><a href="/reviews/<%= r._id %>"><%= r.title %></a></td>
              <td><%= r.developer %></td>
              <td><%= r.releaseYear %></td>
              <td><%= r.genre %></td>
              <td><%= r.rating %></td>
              <td><%= r.review %></td>
              <td>
                <form action="/reviews/<%= r._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
    
</body>
</html>